Repository Joribok/Joribok, pull requests merged in 2022-12, with the labels that each got.

#9 [FE] Button, Box 컴포넌트 구현
  frontend/.storybook/preview.js
  frontend/src/components/Box/index.stories.tsx
  frontend/src/components/Box/index.styles.tsx
  frontend/src/components/Box/index.tsx
  frontend/src/components/Button/index.stories.tsx
  frontend/src/components/Button/index.styles.tsx
  frontend/src/components/Button/index.tsx
  frontend/src/constants/index.ts
  frontend/src/styles/global.tsx
  frontend/src/types/index.ts
  frontend/src/types/utils.ts
Labels: front 🌈, style 🎈

#11 [FE] Input 컴포넌트 구현
  frontend/src/components/Input/index.stories.tsx
  frontend/src/components/Input/index.styles.tsx
  frontend/src/components/Input/index.tsx
  frontend/src/constants/index.ts
  frontend/src/types/index.ts
Labels: front 🌈, style 🎈

#10 [FE] SnackBar 컴포넌트 구현
  frontend/.storybook/preview.js
  frontend/src/components/SnackBar/animation.module.css
  frontend/src/components/SnackBar/index.stories.tsx
  frontend/src/components/SnackBar/index.styles.tsx
  frontend/src/components/SnackBar/index.tsx
  frontend/src/hooks/useSnackBar.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/store/index.ts
  frontend/src/styles/theme.ts
  frontend/src/types/global.d.ts
  frontend/src/types/index.ts
  frontend/src/util/CreatePortal.tsx
  frontend/tsconfig.json
Labels: front 🌈, style 🎈

#12 [FE] 헤더 구현
  frontend/src/assets/svg/user/login.svg
  frontend/src/assets/svg/user/logoff.svg
  frontend/src/components/Header/Slider/Login/index.tsx
  frontend/src/components/Header/Slider/Logoff/index.tsx
  frontend/src/components/Header/Slider/index.stories.tsx
  frontend/src/components/Header/Slider/index.styles.tsx
  frontend/src/components/Header/Slider/index.tsx
  frontend/src/components/Header/index.stories.tsx
  frontend/src/components/Header/index.styles.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Layout/index.styles.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/hooks/useClosingState.ts
  frontend/src/hooks/useHeader.ts
  frontend/src/hooks/useThrottle.ts
  frontend/src/pages/_app.tsx
  frontend/src/store/index.ts
  frontend/src/styles/theme.ts
Labels: front 🌈, style 🎈

#15 [FE] 로그인 페이지 구현
  frontend/src/components/Button/index.tsx
  frontend/src/components/Input/index.styles.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useInput.ts
  frontend/src/pages/login/index.stories.tsx
  frontend/src/pages/login/index.styles.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/styles/global.tsx
  frontend/src/util/CreatePortal.tsx
Labels: front 🌈, feat 💫, style 🎈

#13 [FE] 홈 페이지 구현
  frontend/src/api/article.ts
  frontend/src/api/index.ts
  frontend/src/components/Article/index.stories.tsx
  frontend/src/components/Article/index.styles.tsx
  frontend/src/components/Article/index.tsx
  frontend/src/components/ArticleList/index.styles.tsx
  frontend/src/components/ArticleList/index.tsx
  frontend/src/components/HomeHeader/index.styles.tsx
  frontend/src/components/HomeHeader/index.tsx
  frontend/src/components/InfiniteScrollObserver/InfiniteScrollObserver.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/article/useGetTotalArticle.tsx
  frontend/src/mocks/article.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data/totalArticle.json
  frontend/src/mocks/index.ts
  frontend/src/mocks/server.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/types/article.ts
  frontend/src/util/getRandomColor.ts
  frontend/tsconfig.json
Labels: front 🌈, feat 💫
