Repository Joribok/Joribok, pull requests merged in 2023-02, with the labels that each got.

#21 [FE] 글 작성 페이지 구현
  .gitignore
  frontend/src/api/article.ts
  frontend/src/components/PlanBox/animation.module.css
  frontend/src/components/PlanBox/index.stories.tsx
  frontend/src/components/PlanBox/index.styles.tsx
  frontend/src/components/PlanBox/index.tsx
  frontend/src/hooks/article/usePostArticle.tsx
  frontend/src/pages/write-plan/index.styles.tsx
  frontend/src/pages/write-plan/index.tsx
Labels: front 🌈, feat 💫, style 🎈

#24 [BE] 서버 초기 설정
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/article/article.controller.spec.ts
  backend/src/article/article.controller.ts
  backend/src/article/article.module.ts
  backend/src/article/article.service.spec.ts
  backend/src/article/article.service.ts
  backend/src/article/dto/create-article.dto.ts
  backend/src/article/entities/article.entity.ts
  backend/src/lucky/entities/lucky.entity.ts
  backend/src/lucky/lucky.controller.spec.ts
  backend/src/lucky/lucky.controller.ts
  backend/src/lucky/lucky.module.ts
  backend/src/lucky/lucky.service.spec.ts
  backend/src/lucky/lucky.service.ts
  backend/src/main.ts
  backend/src/user/dto/create-user.dto.ts
  backend/src/user/dto/login-user.dto.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  frontend/.storybook/preview.js
Labels: back 🌪️, feat 💫

#22 [FE] 마이페이지 구현
  frontend/src/api/auth.ts
  frontend/src/api/lucky.ts
  frontend/src/api/me.ts
  frontend/src/components/Header/Slider/Login/index.tsx
  frontend/src/components/Header/Slider/Logoff/index.tsx
  frontend/src/components/Header/Slider/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useLogin.ts
  frontend/src/hooks/useSignup.ts
  frontend/src/hooks/useTyping.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers/me.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/pages/me/index.styles.tsx
  frontend/src/pages/me/index.tsx
  frontend/src/styles/global.tsx
  frontend/src/types/index.ts
Labels: front 🌈, feat 💫, style 🎈

#28 [FE] 목표 상세 페이지 구현
  frontend/src/api/article.ts
  frontend/src/api/auth.ts
  frontend/src/components/Article/index.styles.tsx
  frontend/src/components/Article/index.tsx
  frontend/src/components/CommentBox/Comments/index.styles.tsx
  frontend/src/components/CommentBox/Comments/index.tsx
  frontend/src/components/CommentBox/Writing/index.styles.tsx
  frontend/src/components/CommentBox/Writing/index.tsx
  frontend/src/components/CommentBox/index.styles.tsx
  frontend/src/components/CommentBox/index.tsx
  frontend/src/components/Gauge/index.styles.tsx
  frontend/src/components/Gauge/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useInput.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers/article.ts
  frontend/src/mocks/handlers/auth.ts
  frontend/src/mocks/server.ts
  frontend/src/pages/plan/[...params].tsx
  frontend/src/pages/plan/index.styles.tsx
  frontend/src/types/article.ts
Labels: front 🌈, feat 💫, style 🎈

#31 [FE] NotFound, Server Error 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/NotFoundAnimation.json
  frontend/src/assets/ServerErrorAnimation.json
  frontend/src/pages/404.tsx
  frontend/src/pages/500.tsx
Labels: front 🌈, feat 💫

#27 [BE] 서버 DB 연결
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/article/entities/article.entity.ts
  backend/src/lucky/entities/lucky.entity.ts
  backend/src/lucky/lucky.module.ts
  backend/src/user/entities/user.entity.ts
  frontend/package-lock.json
  frontend/package.json
Labels: back 🌪️, infra 🗃️
